.card {
    min-height: 90px;
    max-height: 120p;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    background-color: #efefef;
    border: none;
}
.groupTag {
    flex-wrap: wrap;
}

.location {
    /* background-color: rgba(0, 0, 0, 0.18); */
    text-transform: uppercase;
    font-family: 'nunito';
    overflow: hidden;
    white-space: nowrap;
    max-width: 12em;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    background: #ddd;
    font-size: 10px;
    padding-right: 1.5px;
    padding-left: 1.5px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 800;
    color: #0f1115;
}

.location p {
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groupTag li {
    font-weight: 700;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-size: 0.7em;
}

.groupTag li:hover {
    color: white;
}

.card h4 {
    font-size: 16px;
}

.card h3 {
    font-size: 18px;
    font-weight: 600;
}

.companyLogo {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 10px;
}

.companyprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardText,
.cardTags {
    padding: 0px;
    margin: 0px;
}

/* media query */
/* HireInfoCard */
@media screen and (max-width: 480px) {
    .cardbody {
        padding: 0px;
    }
    .row {
        display: grid;
        padding: 0px;
        grid-template-columns: 1fr 7fr 1fr;
    }
    .cardText h3 {
        font-size: 14px;
    }
    .mobileRow h4 {
        font-size: 12px;
    }
    .companyLogo {
        padding-right: 0px;
    }
    .duration {
        padding: 0px;
        font-size: 12px;
    }
    .groupTag li {
        border: 1px solid black;
        font-size: 9px;
    }

    .location {
        display: flex;
        align-items: center;
    }

    .hireInfoCard {
        margin-top: 50px;
        border: none;
        height: 100px;
        width: 100%;
        background-color: #f9f9f9;
        padding: 0px;
        box-shadow: 1px 1px 3px #ccc;
    }
    .hireInfoCard div:first-child {
        padding: 0px;
        display: flex;
        align-items: center;
        margin: 0px;
        height: 100px;
    }
    .hiretext {
        width: 100%;
        margin: 0px;
        align-items: center;
        height: 100px;
        font-size: 14px;
    }
    .textMobile {
        font-weight: 700;
        margin-left: 1px;
        padding: 0px;
        width: 100%;
    }
    .textDesktop {
        display: none;
    }
    .hireButton {
        margin-left: 0px;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 0px;
    }
    .hireButton button {
        width: 85px;
        padding: 0px;
        font-size: 14px;
        height: 50px;
        font-weight: bold;
        margin: 5px;
    }

    /* job card */
    .skilltag {
        font-size: 10px;
        padding: 2px;
        margin: 3px;
    }
    .Logo {
        width: auto;
    }
    .mobileRow {
        display: flex;
    }
    .mobileRow h3 {
        margin-right: 2px;
        order: 1;
    }
    .companyprofile {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .cardText {
        display: flex;
        flex-direction: column;
    }
    .cardText h4 {
        order: 2;
    }
}
