.card {
  min-height: 90px;
  max-height: 120p;
}
.groupTag {
  flex-wrap: wrap;
}

.groupTag li {
  font-weight: 700;
  border: 2px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 0.7em;
}

.groupTag li:hover {
  color: white !important;
}

.card h4 {
  font-size: 16px;
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
}

.companyLogo {
              border-radius: 5px !important;
              height: 60px;
              width: 60px !important;
              padding: 0px;
              max-width: 60px;
            }