.jobLoader {
  margin-top: -4%;
}

@media (max-width: 768px) {
  .loading a {
    height: 100px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .loading span {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .jobLoader {
    margin-top: -10%;
  }
}
